h2{
    color: yellow;
    font: size 10px;
}
body{
    background-color: black;
}
.external{
    column-rule-color: blue;
}
#external{
    color: aquamarine;
}
.underline[
text-decoration: underline;
text-align: right;
]
h2 .external , #external {
    background-color: blue;
    font-size: 30px;}